[Unit]
Description=Controls the fan speeds on an NVIDA Graphics Card
After=multi-user.target suspend.target 

[Service]
Type=oneshot
ExecStart=/usr/local/bin/gpu-fan-conrol.sh

[Install]
WantedBy=multi-user.target sleep.target 
