[Unit]
Description=Intel CPU Turbo-Boost disabler
After=multi-user.target suspend.target 

[Service]
Type=oneshot
ExecStart=/usr/local/bin/coreboost.sh

[Install]
WantedBy=multi-user.target sleep.target
